body {
    background-color: #EEEEEE;
    max-width: 1920px;
}

p {
    color: #CCCCCC;
}

.footer {
    border-top: 3px solid #CCCCCC;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #222222;
    color: white;
    text-align: center;
    max-width: 1920px;
}

.left {
    grid-area: left;
    word-wrap: break-word;
    margin: 20px;
}

.right {
    grid-area: right;
    word-wrap: break-word;
    margin: 20px;
    margin-right: 10px;
}

main {
    display: grid;
    grid-template-areas: 'left left right';
    min-height: 200px;
    height: 60%;
    grid-gap: 10px;
    padding: 10px;
}

@media only screen and (max-width: 1500px) {
    main {
        grid-template-areas: 'left' 'right';
    }
}

.imageholder {
    background-image: url("../images/banner.PNG");
    height: 300px;
    max-width: 1920px;
}

.cardalign {
    margin-left: 80%;
}

@media only screen and (max-width: 1500px) {
    .cardalign {
        margin-left: 10%;
    }
    .imageholder {
        background-image: url("../images/banner.PNG");
        height: inherit;
        max-width: 1920px;
    }
}

hr {
    background-color: #CCCCCC;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Be Vietnam', sans-serif;
    border: 0px;
}

li:hover {
    border-bottom: 2px solid #EEEEEE;
}

.videoarea {
    /*container for video and description*/
    display: grid;
    grid-template-areas: 'left right';
    height: 60%;
    grid-gap: 10px;
    width: 100%;
    color: #CCCCCC;
    background-color: #808080;
    border: 2px solid black;
}

.leftvideoarea {
    /*where the video goes*/
    grid-area: left;
    word-wrap: break-word;
    width: 50%;
    color: #CCCCCC;
    height: 300px;
}

.rightvideoarea {
    /*where the video goes*/
    grid-area: right;
    word-wrap: break-word;
    width: 50%;
    color: #CCCCCC;
    height: 300px;
}

/*make the video area responsive*/

@media only screen and (max-width: 1500px) {
    .videoarea {
        grid-template-areas: 'left' 'right';
        border-bottom: 2px solid #808080;
    }
    .leftvideoarea {
        width: 100%;
    }
    .rightvideoarea {
        width: 100%;
        height: 150px;
    }
}

.form-container {
    background-color: #808080;
    color: #222222;
    width: 50%;
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
    height: 600px;
    padding: 30px;
    text-align: center;
    border-radius: 25px;
}

@media only screen and (max-width: 1500px) {
    .form-container {
        background-color: #808080;
        color: #222222;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20px;
        height: 600px;
        padding: 10px;
    }
}