body {
    background-color: rgb(82, 82, 82);
    max-width: 1920px;
}

/*css for sticky footer*/

.footer {
    border-top: 3px solid #CCCCCC;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #222222;
    color: white;
    text-align: center;
    max-width: 1920px;
}

/*css for grid areas on home page*/

.left {
    grid-area: left;
    word-wrap: break-word;
    margin: 20px;
}

.right {
    grid-area: right;
    word-wrap: break-word;
    margin: 20px;
    margin-right: 10px;
}

main {
    display: grid;
    grid-template-areas: 'left left right';
    min-height: 200px;
    height: 60%;
    grid-gap: 10px;
    padding: 10px;
}

/*grid area responsive css on home page*/

@media only screen and (max-width: 1500px) {
    main {
        grid-template-areas: 'left' 'right';
    }
}

/*home page banner image container*/

.imageholder {
    background-image: url("../images/banner.PNG");
    height: 300px;
    max-width: 1920px;
}

/*make the band info section go to the right*/

.cardalign {
    margin-left: 80%;
}

@media only screen and (max-width: 1500px) {
    .cardalign {
        margin-left: 10%;
    }
    .imageholder {
        background-image: url("../images/banner.PNG");
        height: inherit;
        max-width: 1920px;
    }
}

/*hr for contact list on home page*/

hr {
    background-color: #CCCCCC;
}

/*font styling*/

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Be Vietnam', sans-serif;
    color: #CCCCCC;
}

.videoarea {
    /*container for video and description*/
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-areas: 'left right';
    height: 60%;
    grid-gap: 10px;
    color: #CCCCCC;
    background-color: #616161;
    border-radius: 40px;
}

.leftvideoarea {
    /*where the video goes*/
    grid-area: left;
    word-wrap: break-word;
    width: 70%;
    color: #CCCCCC;
    height: 300px;
}

.rightvideoarea {
    /*where the video goes*/
    grid-area: right;
    word-wrap: break-word;
    width: 30%;
    color: #CCCCCC;
    height: 300px;
}

/*make the video area responsive*/

@media only screen and (max-width: 1500px) {
    .videoarea {
        grid-template-areas: 'left' 'right';
        border-bottom: 2px solid #808080;
    }
    .leftvideoarea {
        width: 100%;
        text-align: center;
    }
    .rightvideoarea {
        width: 100%;
        height: 150px;
        text-align: center;
    }
}

/*containers for forms*/

.form-container {
    background-color: #616161;
    color: #222222;
    width: 500px;
    height: 700;
    padding: 30px;
    text-align: center;
    border-radius: 25px;
}

/*make the form responsive*/

@media only screen and (max-width: 1500px) {
    .form-container {
        background-color: #616161;
        color: #222222;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20px;
        height: 700;
        padding: 10px;
    }
}

.back-link-container {
    background-color: #616161;
    color: #222222;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    height: 600px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.link-container {
    background-color: blue;
    border: 0px;
    border-radius: 30px;
    width: 25%;
    margin: 0px;
    height: 300px;
}

.linkgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 100%;
}
/*icons for social media page*/
.facebook {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #3b5998;
    border-radius: 40px;
    width: 300px;
    height: 300px;
    border-top: 30%;
    border-bottom: 30%;
}

.instagram {
    grid-area: 1 / 2 / 2 / 3;
    background-color: red;
    border-radius: 40px;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.spotify {
    grid-area: 1 / 3 / 2 / 4;
    background-color: black;
    border-radius: 40px;
    width: 300px;
    height: 300px;
}

.twitter {
    grid-area: 1 / 4 / 2 / 5;
    background-color: #1da1f2;
    border-radius: 40px;
    width: 300px;
    height: 300px;
}

/*responsive link area*/

@media only screen and (max-width: 1500px) {
    .linkgrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .facebook {
        grid-area: 1 / 1 / 2 / 2;
        margin-bottom: 40px;
    }
    .instagram {
        grid-area: 2 / 1 / 3 / 2;
        margin-bottom: 40px;
    }
    .spotify {
        grid-area: 3 / 1 / 4 / 2;
        margin-bottom: 40px;
    }
    .twitter {
        grid-area: 4 / 1 / 5 / 2;
        margin-bottom: 200px;
    }
    .back-link-container {
        background-color: #808080;
        color: #222222;
        margin-top: 40px;
        margin-left: 10%;
        margin-right: 10%;
        height: 1600px;
        border-radius: 20px;
    }
}

/*stuff for map*/

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 500px;
    border-radius: 30px;
}

/*css for icons on navbar */

@media screen and (max-width: 400px) {
    #social-icons {
        display: block;
    }
    /*Hide it on small screens*/
}

@media screen and (max-width: 1500px) {
    #social-icons {
        display: none;
    }
/* hide it on small screens */
}

/*css for contact page*/
.contact-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: inherit;
    width: 100%;
}

.contact-item {
    width: 80%;
    margin: 10%;
    font-size: 30px;
    text-align: left;
}

/*make the contact page responsive*/

@media screen and (max-width: 1500px) {
    .contact-container {
        display: grid;
        grid-template-columns: 100%;
        background-color: inherit;
        width: 100%;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 300px;
        width: 300px;
    }
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 300px;
        width: 300px;
        border-radius: 30px;
    }
}
.comingsoon {
    background-color: #616161;
    width: 90%;
    height: 250px;
    margin: 5%;
    margin-top: 5%;
    border-radius: 30px;
    overflow: auto;
}
.comingsoonimage{
    width: 30%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 250px;
    float: left;
}

/*css for custom scroll bar
(only works on chrome)
*/

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(82, 82, 82); 
  }
 
  ::-webkit-scrollbar-thumb {
    background:darkgray; 
    border-radius: 30px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(148, 148, 148); 
  }